################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HeadFirstDesignPatterns
/Strategy/bin/Debug/net8.0
/Strategy/obj
